.dark, .dark * {
    /* Color parameters... */
    --hue:100;
    --sat:20%;
    --light:10%;
    --opacity:1;
    --BG-hue:100;
    --BG-sat:10%;
    --BG-light:10%;
    --BG-opacity:0;
    --accent-hue:100;
    --accent-sat:0%;
    --accent-light:30%;
    --accent-opacity:0;
    --contrast-hue:30;
    --contrast-sat:30%;
    --contrast-light:70%;
    --contrast-opacity:0;
    --font-hue:0;
    --font-sat:0%;
    --font-light:90%;
    --font-opacity:0;    
}
  
.light, .light * {
    /* Color parameters... */
    --hue:220;
    --sat:20%;
    --light:80%;
    --opacity:1;
    --BG-hue:0;
    --BG-sat:15%;
    --BG-light:0%;
    --BG-opacity:0;
    --accent-hue:-10;
    --accent-sat:30%;
    --accent-light:-15%;
    --accent-opacity:0;
    --contrast-hue:0;
    --contrast-sat:50%;
    --contrast-light:-50%;
    --contrast-opacity:0;
    --font-hue:0;
    --font-sat:0%;
    --font-light:-100%;
    --font-opacity:0;
}

.primary {
    background-color: var(--primary-color);
    color: var(--font-color);
}

.accent {
    background-color: var(--accent-color);
}