@import url(classes.css);
@import url(animations.css);
@import url(buttons.css);
@import url(form.css);
@import url(lists.css);
@import url(text.css);

/* Site-wide colors and styles */
*{
    font-family: 'Segou UI', 'Calibri', Arial, 'Helvetica Neue', 'Times New Roman';
    --switch-height: 17px;
    --switch-width: 34px;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    --primary-color: hsla(
        calc(var(--hue) + var(--BG-hue)), 
        calc(var(--sat) + var(--BG-sat)),
        calc(var(--light) + var(--BG-light)),
        calc(var(--opacity) + var(--BG-opacity)));

    --accent-color: hsla(
        calc(var(--hue) + var(--accent-hue)), 
        calc(var(--sat) + var(--accent-sat)),
        calc(var(--light) + var(--accent-light)),
        calc(var(--opacity) + var(--accent-opacity)));

    --font-color:hsla(
        calc(var(--hue) + var(--font-hue)), 
        calc(var(--sat) + var(--font-sat)),
        calc(var(--light) + var(--font-light)),
        calc(var(--opacity) + var(--font-opacity)));

    --contrast-color: hsla(
        calc(var(--hue) + var(--contrast-hue)), 
        calc(var(--sat) + var(--contrast-sat)),
        calc(var(--light) + var(--contrast-light)),
        calc(var(--opacity) + var(--contrast-opacity)));
}

html {
    background-color: var(--primary-color);
    color: var(--font-color);
    height: 100vh;
    margin:0;
    box-sizing: border-box;
}

button {
    all:unset;
    outline: revert;
}
body {
    background-color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

body>*{
    flex-grow: 1;
}

/* Input styles */
input {
    background-color: grey;
    border-radius: 20px;
    border: none;

}

/* Dialog container styling */
dialog {
    top: 50%;
    left: 50%;
    transition: 5s;
    opacity: 0;
    background-color: var(--accent-color);
}

dialog[open] {
    opacity: 1;
    animation: fadeIn .25s normal forwards;   
}

dialog.fade[open] {
    animation: fadeOut .25s normal forwards;
}

dialog::backdrop {
    transition: 2s;
    background-color: rgba(50, 75, 100, .8);
}